nav img,
footer img {
    width: 80px;
    height: 80px;
}

.nav-link {
    color: rgb(98, 76, 239);
}

.bg {

    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .7), rgba(0, 0, 0, .4)), url(assets/img/maternity.JPG);
}

.bg2 {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .7), rgba(0, 0, 0, .4)), url(assets/img/IMG_5471.JPG);
    background-size: cover;
}

.img-fluid {
    width: 600px;
    height: 600px;
}

.welcome {
    width: 50%
}

.welcome .text-warning,
.sec3 .text-warning, .text ,.value .text-warning, .text{
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px
}

.welcome .btn-warning,
.sec3 .btn-warning {
    width: fit-content;
    font-size: 20px;
    padding: 10px;
}

.sec2 {
    padding-top: 30px;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;

}

.layout h2 {
    font-size: 25px;
}

.goal {
    background: darkslateblue;
    border: solid 15px rgb(248, 179, 4);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 30%;
    padding: 70px 50px;
}

.goal b h2,
.goal p {
    color: white;

}

.vision {
    background: rgb(248, 179, 4);
    width: 30%;
    margin-left: 30px;
    padding: 80px 50px;
}

.vision h2,
.vision p {
    color: black;
}

.mission {
    background: darkslateblue;
    border: solid 15px rgb(248, 179, 4);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-left: 30px;
    width: 30%;
    padding: 50px 50px;
}

.mission h2,
.mission p {
    color: white;
}

.goal h2,
.vision h2,
.mission h2 {
    font-weight: bold;
    font-size: 30px;
}

.sec3 {
    padding: 80px;
    margin-top: 100px;
}

.sec4 {
    position: relative;
    top: -40px;
    margin-right: 10px;
    margin-left: 40px;
}

.sec4 .card {
    width: 18rem;
    height: 12rem;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
}

.value{
    padding:50px;
}
.our{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.our .d-sm-flex{
    margin-bottom: 40px;
}
.our_ser{
    display: none;
}
.our_services{
    margin-left: 50px;
}
.our_services .lead{
    padding-top: 15px;
    padding-bottom: 15px;
}
.service{
    height: 500px; 
    width: 600px;
}
.about{
    text-align: center;
}
.position{
    position: relative;
}
.fw-bold{
    padding: 50px;
}
.position button{
    margin: 40px;
}

footer {
    font-size: 30px;
    bottom: 0;
    padding: 100px 0 30px;
    margin: 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

.row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.loggo {
    width: 80px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    color: rgb(248, 179, 4);
    font-size: 30px;
}

.col ul li {
    list-style: none;
    margin-bottom: 12px;
    margin-left: -30px;
    margin-top: 20px;
}

.col ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
    ;

}

.col ul li:hover a {
    color: goldenrod;
}

.col ul li i {
    color: rgb(248, 179, 4);
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer form .far {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form .far {
    color: goldenrod;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: #ccc;
    font-size: 25px;
    color: rgb(248, 179, 4);
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: rgb(248, 179, 4);
    margin-right: 15px;
    cursor: pointer;
}

hr {
    border: solid rgb(248, 179, 4) 1px;
    border-bottom: 1px rgb(248, 179, 4);
}

.bak hr {
    border: none;
}

.copyright {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.underline {
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    top: 5px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
    position: absolute;
}

footer p {
    color: white;
    line-height: 30px;
}

/* mobile view */

@media(max-width:1000px) {
    .welcome {
        width: 100%;
    }

    .welcome p {
        font-size: 15px;
    }

    .bg {
        background-size: cover;
    }

    .welcome .text-warning,
    .sec3 .text-warning{
        font-size: 2rem;
        text-align: center;
    }
    .text, .value .text-warning {
        font-size: 2rem;
        text-align: center;
    }
    .value h1{
        font-size: 2rem;
    }

    .sec2 {
        padding-top: 10px;
    }

    .layout {
        display: block;
        padding-top: 0;
    }

    .layout p,
    .sec3 p {
        font-size: 15px;
    }

    .goal {
        border: solid 12px rgb(248, 179, 4);
        width: 100%;
        padding: 40px 50px;
    }

    .vision {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
        padding: 40px 50px;
    }

    .mission {
        border: solid 12px rgb(248, 179, 4);
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        padding: 40px 50px;
    }

    .goal h2,
    .vision h2,
    .mission h2 {
        font-weight: bold;
        font-size: 18px;
    }

    .sec3 {
        padding: 10px;
        margin-top: 30px;
    }

    .sec4 {
        position: relative;
        top: 20px;
        /* margin-right: 0px; */
        margin-left: 0;
    }
    .sec4 .card {
        width: 100%;
        font-weight: bold;
        text-align: center;
        margin-right: 0;
        margin-top: 20px;
    }

    .value{
        padding:10px;
        padding-top: 40px;
    }
    .value ul{
        font-size: 15px;
    }
    .our{
        width: 100%;
        margin: 0;
    }
    .our .d-sm-flex{
        margin-bottom: 10px;
    }
    .our_services{
        margin-left: 0;
    }
    .our_services .lead{
        padding-top: 0;
        padding-bottom: 0;
    }
   
    .our_services h1{
        display: none;
    }
    .our_services .text{
        font-size: 12px;
    }
    .service{
        width: 100%;
        height: auto; 
    }
    .about{
        text-align: start;
    }
    .about h2, .about p, .about button{
        margin: 10px;
        font-size: 15px;
    }
    .our_ser{
        display: block;
        font-weight: bold;
        color:darkslateblue;
        text-align: center;
    }
    .position{
        width: 95%;
        margin: auto;
    } 
    .position .image{
        display: none;
    }
    .fw-bold{
        padding:0;
    }
    .fw-bold p{
        font-size: 2rem;
        padding-top: 40px;
    }

    .position button{
        margin: 0;
        margin-bottom: 40px;
        font-size: 15px;
        margin-top: -10px;
    }

    footer {
        bottom: unset;
        padding: 0;
        margin: 0;
    }

    .col {
        flex-basis: 100%;

    }

    .col h3 {
        margin-top: 0;
    }

    .col p {
        padding-top: 0;
        padding-bottom: 0;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }

    .bak {
        width: 90%;
    }

    .bak h1 {
        font-size: 35px;
    }

    .copyright {
        font-size: 13px;
        padding-bottom: 0;
    }
}